<div>
    <div class="white-square" id="a8"></div>
    <div class="black-square" id="b8"></div>
    <div class="white-square" id="c8"></div>
    <div class="black-square" id="d8"></div>
    <div class="white-square" id="e8"></div>
    <div class="black-square" id="f8"></div>
    <div class="white-square" id="g8"></div>
    <div class="black-square" id="h8"></div>
</div>
<div>
    <div class="black-square" id="a7"></div>
    <div class="white-square" id="b7"></div>
    <div class="black-square" id="c7"></div>
    <div class="white-square" id="d7"></div>
    <div class="black-square" id="e7"></div>
    <div class="white-square" id="f7"></div>
    <div class="black-square" id="g7"></div>
    <div class="white-square" id="h7"></div>
</div>
<div>
    <div class="white-square" id="a6"></div>
    <div class="black-square" id="b6"></div>
    <div class="white-square" id="c6"></div>
    <div class="black-square" id="d6"></div>
    <div class="white-square" id="e6"></div>
    <div class="black-square" id="f6"></div>
    <div class="white-square" id="g6"></div>
    <div class="black-square" id="h6"></div>
</div>
<div>
    <div class="black-square" id="a5"></div>
    <div class="white-square" id="b5"></div>
    <div class="black-square" id="c5"></div>
    <div class="white-square" id="d5"></div>
    <div class="black-square" id="e5"></div>
    <div class="white-square" id="f5"></div>
    <div class="black-square" id="g5"></div>
    <div class="white-square" id="h5"></div>
</div>
<div>
    <div class="white-square" id="a4"></div>
    <div class="black-square" id="b4"></div>
    <div class="white-square" id="c4"></div>
    <div class="black-square" id="d4"></div>
    <div class="white-square" id="e4"></div>
    <div class="black-square" id="f4"></div>
    <div class="white-square" id="g4"></div>
    <div class="black-square" id="h4"></div>
</div>
<div>
    <div class="black-square" id="a3"></div>
    <div class="white-square" id="b3"></div>
    <div class="black-square" id="c3"></div>
    <div class="white-square" id="d3"></div>
    <div class="black-square" id="e3"></div>
    <div class="white-square" id="f3"></div>
    <div class="black-square" id="g3"></div>
    <div class="white-square" id="h3"></div>
</div>
<div>
    <div class="white-square" id="a2"></div>
    <div class="black-square" id="b2"></div>
    <div class="white-square" id="c2"></div>
    <div class="black-square" id="d2"></div>
    <div class="white-square" id="e2"></div>
    <div class="black-square" id="f2"></div>
    <div class="white-square" id="g2"></div>
    <div class="black-square" id="h2"></div>
</div> 
<div>
    <div class="black-square" id="a1"></div>
    <div class="white-square" id="b1"></div>
    <div class="black-square" id="c1"></div>
    <div class="white-square" id="d1"></div>
    <div class="black-square" id="e1"></div>
    <div class="white-square" id="f1"></div>
    <div class="black-square" id="g1"></div>
    <div class="white-square" id="h1"></div>
</div>
<p class="notation file file-a">a</p>
<p class="notation file file-b">b</p>
<p class="notation file file-c">c</p>
<p class="notation file file-d">d</p>
<p class="notation file file-e">e</p>
<p class="notation file file-f">f</p>
<p class="notation file file-g">g</p>
<p class="notation file file-h">h</p>
<p class="notation rank rank-1">1</p>
<p class="notation rank rank-2">2</p>
<p class="notation rank rank-3">3</p>
<p class="notation rank rank-4">4</p>
<p class="notation rank rank-5">5</p>
<p class="notation rank rank-6">6</p>
<p class="notation rank rank-7">7</p>
<p class="notation rank rank-8">8</p>