<div class="chessboard">
    <div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
    </div>
    <div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
    </div>
    <div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
    </div>
    <div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
    </div>
    <div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
    </div>
    <div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
    </div>
    <div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
    </div>
    <div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
        <div class="black-square"></div>
        <div class="white-square"></div>
    </div>
    <img src="./images/white-pawn.png" class="piece white-pawn a2">
    <img src="./images/white-pawn.png" class="piece white-pawn b2">
    <img src="./images/white-pawn.png" class="piece white-pawn c2">
    <img src="./images/white-pawn.png" class="piece white-pawn d2">
    <img src="./images/white-pawn.png" class="piece white-pawn e2">
    <img src="./images/white-pawn.png" class="piece white-pawn f2">
    <img src="./images/white-pawn.png" class="piece white-pawn g2">
    <img src="./images/white-pawn.png" class="piece white-pawn h2">
    <img src="./images/white-rook.png" class="piece white-rook a1">
    <img src="./images/white-rook.png" class="piece white-rook h1">
    <img src="./images/white-knight.png" class="piece white-knight b1">
    <img src="./images/white-knight.png" class="piece white-knight g1">
    <img src="./images/white-bishop.png" class="piece white-bishop c1">
    <img src="./images/white-bishop.png" class="piece white-bishop f1">
    <img src="./images/white-king.png" class="piece white-king e1">
    <img src="./images/white-queen.png" class="piece white-queen d1">
    <img src="./images/black-pawn.png" class="piece black-pawn a7">
    <img src="./images/black-pawn.png" class="piece black-pawn b7">
    <img src="./images/black-pawn.png" class="piece black-pawn c7">
    <img src="./images/black-pawn.png" class="piece black-pawn d7">
    <img src="./images/black-pawn.png" class="piece black-pawn e7">
    <img src="./images/black-pawn.png" class="piece black-pawn f7">
    <img src="./images/black-pawn.png" class="piece black-pawn g7">
    <img src="./images/black-pawn.png" class="piece black-pawn h7">
    <img src="./images/black-rook.png" class="piece black-rook a8">
    <img src="./images/black-rook.png" class="piece black-rook h8">
    <img src="./images/black-knight.png" class="piece black-knight b8">
    <img src="./images/black-knight.png" class="piece black-knight g8">
    <img src="./images/black-bishop.png" class="piece black-bishop c8">
    <img src="./images/black-bishop.png" class="piece black-bishop f8">
    <img src="./images/black-king.png" class="piece black-king e8">
    <img src="./images/black-queen.png" class="piece black-queen d8">
</div>