<div class="nav-bar">
    <div class="title">
        <span onclick="openNav()" class="nav-button">&#9776</span>
        <h1><a href="{{ site.baseurl }}/index.html">Chess School</a></h1>
    </div>
    <nav class="nav-bar-inner">
        <ul>
            <li><a href="{{ site.baseurl }}/login.html">Login</a></li>
            <li><a href="{{ site.baseurl }}/register.html">Register</a></li>
        </ul>
    </nav>
    <div id="sidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <ul>
            <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
            <li><a href="{{ site.baseurl }}/rules.html">Rules</a></li>
            <li><a href="{{ site.baseurl }}/glossary.html">Glossary</a></li>
            <li><a href="{{ site.baseurl }}/two-move-puzzles.html">Puzzles</a></li>
        </ul>
    </div>
</div>

<script>
    function openNav() {
        document.getElementById("sidenav").style.width = "225px";
    }

    function closeNav() {
        document.getElementById("sidenav").style.width = "0";
    }
</script>