@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700");
@import url("https://fonts.googleapis.com/css?family=Cinzel:700");
* {
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  font: 18px/1.5 "Libre Baskerville", serif; }

@media (max-width: 2000px) {
  html {
    font-size: 18px; } }

@media (max-width: 1600px) {
  html {
    font-size: 14px; } }

@media (max-width: 1300px) {
  html {
    font-size: 12px; } }

@-webkit-keyframes appear-first {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes appear-first {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes appear-second {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes appear-second {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes appear-third {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes appear-third {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes appear-fourth {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes appear-fourth {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes appear-fifth {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes appear-fifth {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes king-move {
  0% {
    left: 38.55%;
    bottom: 38.5%; }
  25% {
    left: 51%;
    bottom: 51%; }
  50% {
    left: 51%;
    bottom: 38.5%; }
  75% {
    left: 38.55%;
    bottom: 51%; }
  100% {
    left: 38.55%;
    bottom: 38.5%; } }

@keyframes king-move {
  0% {
    left: 38.55%;
    bottom: 38.5%; }
  25% {
    left: 51%;
    bottom: 51%; }
  50% {
    left: 51%;
    bottom: 38.5%; }
  75% {
    left: 38.55%;
    bottom: 51%; }
  100% {
    left: 38.55%;
    bottom: 38.5%; } }

@-webkit-keyframes queen-move {
  0% {
    left: 76%;
    bottom: 13.5%; }
  16% {
    left: 76%;
    bottom: 76%; }
  32% {
    left: 13.55%;
    bottom: 76%; }
  48% {
    left: 38.55%;
    bottom: 51%; }
  64% {
    left: 13.55%;
    bottom: 25.5%; }
  80% {
    left: 13.55%;
    bottom: 13.5%; }
  96% {
    left: 76%;
    bottom: 13.5%; }
  100% {
    left: 76%;
    bottom: 13.5%; } }

@keyframes queen-move {
  0% {
    left: 76%;
    bottom: 13.5%; }
  16% {
    left: 76%;
    bottom: 76%; }
  32% {
    left: 13.55%;
    bottom: 76%; }
  48% {
    left: 38.55%;
    bottom: 51%; }
  64% {
    left: 13.55%;
    bottom: 25.5%; }
  80% {
    left: 13.55%;
    bottom: 13.5%; }
  96% {
    left: 76%;
    bottom: 13.5%; }
  100% {
    left: 76%;
    bottom: 13.5%; } }

@-webkit-keyframes rook-move {
  0% {
    left: 1.1%;
    bottom: 0.5%; }
  25% {
    left: 88.5%;
    bottom: 0.5%; }
  50% {
    left: 88.5%;
    bottom: 88%; }
  75% {
    left: 1.1%;
    bottom: 88%; }
  100% {
    left: 1.1%;
    bottom: 0.5%; } }

@keyframes rook-move {
  0% {
    left: 1.1%;
    bottom: 0.5%; }
  25% {
    left: 88.5%;
    bottom: 0.5%; }
  50% {
    left: 88.5%;
    bottom: 88%; }
  75% {
    left: 1.1%;
    bottom: 88%; }
  100% {
    left: 1.1%;
    bottom: 0.5%; } }

@-webkit-keyframes bishop-move {
  0% {
    left: 38.55%;
    bottom: 13.5%; }
  25% {
    left: 13.55%;
    bottom: 38.5%; }
  50% {
    left: 51%;
    bottom: 76%; }
  75% {
    left: 76%;
    bottom: 51%; }
  100% {
    left: 38.55%;
    bottom: 13.5%; } }

@keyframes bishop-move {
  0% {
    left: 38.55%;
    bottom: 13.5%; }
  25% {
    left: 13.55%;
    bottom: 38.5%; }
  50% {
    left: 51%;
    bottom: 76%; }
  75% {
    left: 76%;
    bottom: 51%; }
  100% {
    left: 38.55%;
    bottom: 13.5%; } }

@-webkit-keyframes knight-move {
  0% {
    left: 26%;
    bottom: 38.5%; }
  25% {
    left: 38.55%;
    bottom: 63.5%; }
  50% {
    left: 63.5%;
    bottom: 51%; }
  75% {
    left: 51%;
    bottom: 25.5%; }
  100% {
    left: 26%;
    bottom: 38.5%; } }

@keyframes knight-move {
  0% {
    left: 26%;
    bottom: 38.5%; }
  25% {
    left: 38.55%;
    bottom: 63.5%; }
  50% {
    left: 63.5%;
    bottom: 51%; }
  75% {
    left: 51%;
    bottom: 25.5%; }
  100% {
    left: 26%;
    bottom: 38.5%; } }

@-webkit-keyframes e2-pawn-move {
  0% {
    left: 51%;
    bottom: 13.5%; }
  14% {
    left: 51%;
    bottom: 38.5%; }
  28% {
    left: 51%;
    bottom: 38.5%; }
  42% {
    left: 51%;
    bottom: 38.5%; }
  56% {
    left: 51%;
    bottom: 38.5%; }
  70% {
    left: 51%;
    bottom: 38.5%; }
  84% {
    left: 51%;
    bottom: 38.5%; }
  98% {
    left: 38.55%;
    bottom: 51%; }
  100% {
    left: 38.55%;
    bottom: 51%; } }

@keyframes e2-pawn-move {
  0% {
    left: 51%;
    bottom: 13.5%; }
  14% {
    left: 51%;
    bottom: 38.5%; }
  28% {
    left: 51%;
    bottom: 38.5%; }
  42% {
    left: 51%;
    bottom: 38.5%; }
  56% {
    left: 51%;
    bottom: 38.5%; }
  70% {
    left: 51%;
    bottom: 38.5%; }
  84% {
    left: 51%;
    bottom: 38.5%; }
  98% {
    left: 38.55%;
    bottom: 51%; }
  100% {
    left: 38.55%;
    bottom: 51%; } }

@-webkit-keyframes d2-pawn-move {
  0% {
    left: 38.55%;
    bottom: 13.5%;
    opacity: 1; }
  14% {
    left: 38.55%;
    bottom: 13.5%;
    opacity: 1; }
  28% {
    left: 38.55%;
    bottom: 13.5%;
    opacity: 1; }
  42% {
    left: 38.55%;
    bottom: 25.5%;
    opacity: 1; }
  56% {
    left: 38.55%;
    bottom: 25.5%;
    opacity: 1; }
  70% {
    left: 38.55%;
    bottom: 38.5%;
    opacity: 1; }
  84% {
    left: 38.55%;
    bottom: 38.5%;
    opacity: 0; }
  98% {
    left: 38.55%;
    bottom: 38.5%;
    opacity: 0; }
  100% {
    left: 38.55%;
    bottom: 38.5%;
    opacity: 0; } }

@keyframes d2-pawn-move {
  0% {
    left: 38.55%;
    bottom: 13.5%;
    opacity: 1; }
  14% {
    left: 38.55%;
    bottom: 13.5%;
    opacity: 1; }
  28% {
    left: 38.55%;
    bottom: 13.5%;
    opacity: 1; }
  42% {
    left: 38.55%;
    bottom: 25.5%;
    opacity: 1; }
  56% {
    left: 38.55%;
    bottom: 25.5%;
    opacity: 1; }
  70% {
    left: 38.55%;
    bottom: 38.5%;
    opacity: 1; }
  84% {
    left: 38.55%;
    bottom: 38.5%;
    opacity: 0; }
  98% {
    left: 38.55%;
    bottom: 38.5%;
    opacity: 0; }
  100% {
    left: 38.55%;
    bottom: 38.5%;
    opacity: 0; } }

@-webkit-keyframes e7-pawn-move {
  0% {
    left: 51%;
    bottom: 76%; }
  14% {
    left: 51%;
    bottom: 76%; }
  28% {
    left: 51%;
    bottom: 51%; }
  42% {
    left: 51%;
    bottom: 51%; }
  56% {
    left: 51%;
    bottom: 51%; }
  70% {
    left: 51%;
    bottom: 51%; }
  84% {
    left: 38.55%;
    bottom: 38.5%; }
  98% {
    left: 38.55%;
    bottom: 38.5%; }
  100% {
    left: 38.55%;
    bottom: 38.5%; } }

@keyframes e7-pawn-move {
  0% {
    left: 51%;
    bottom: 76%; }
  14% {
    left: 51%;
    bottom: 76%; }
  28% {
    left: 51%;
    bottom: 51%; }
  42% {
    left: 51%;
    bottom: 51%; }
  56% {
    left: 51%;
    bottom: 51%; }
  70% {
    left: 51%;
    bottom: 51%; }
  84% {
    left: 38.55%;
    bottom: 38.5%; }
  98% {
    left: 38.55%;
    bottom: 38.5%; }
  100% {
    left: 38.55%;
    bottom: 38.5%; } }

@-webkit-keyframes d7-pawn-move {
  0% {
    left: 38.55%;
    bottom: 76%;
    opacity: 1; }
  14% {
    left: 38.55%;
    bottom: 76%;
    opacity: 1; }
  28% {
    left: 38.55%;
    bottom: 76%;
    opacity: 1; }
  42% {
    left: 38.55%;
    bottom: 76%;
    opacity: 1; }
  56% {
    left: 38.55%;
    bottom: 51%;
    opacity: 1; }
  70% {
    left: 38.55%;
    bottom: 51%;
    opacity: 1; }
  84% {
    left: 38.55%;
    bottom: 51%;
    opacity: 1; }
  98% {
    left: 38.55%;
    bottom: 51%;
    opacity: 0; }
  100% {
    left: 38.55%;
    bottom: 51%;
    opacity: 0; } }

@keyframes d7-pawn-move {
  0% {
    left: 38.55%;
    bottom: 76%;
    opacity: 1; }
  14% {
    left: 38.55%;
    bottom: 76%;
    opacity: 1; }
  28% {
    left: 38.55%;
    bottom: 76%;
    opacity: 1; }
  42% {
    left: 38.55%;
    bottom: 76%;
    opacity: 1; }
  56% {
    left: 38.55%;
    bottom: 51%;
    opacity: 1; }
  70% {
    left: 38.55%;
    bottom: 51%;
    opacity: 1; }
  84% {
    left: 38.55%;
    bottom: 51%;
    opacity: 1; }
  98% {
    left: 38.55%;
    bottom: 51%;
    opacity: 0; }
  100% {
    left: 38.55%;
    bottom: 51%;
    opacity: 0; } }

@-webkit-keyframes white-rook-castle {
  0% {
    left: 88.5%;
    bottom: 0.5%; }
  50% {
    left: 63.5%;
    bottom: 0.5%; }
  100% {
    left: 63.5%;
    bottom: 0.5%; } }

@keyframes white-rook-castle {
  0% {
    left: 88.5%;
    bottom: 0.5%; }
  50% {
    left: 63.5%;
    bottom: 0.5%; }
  100% {
    left: 63.5%;
    bottom: 0.5%; } }

@-webkit-keyframes white-king-castle {
  0% {
    left: 51%;
    bottom: 0.5%; }
  50% {
    left: 76%;
    bottom: 0.5%; }
  100% {
    left: 76%;
    bottom: 0.5%; } }

@keyframes white-king-castle {
  0% {
    left: 51%;
    bottom: 0.5%; }
  50% {
    left: 76%;
    bottom: 0.5%; }
  100% {
    left: 76%;
    bottom: 0.5%; } }

@-webkit-keyframes black-rook-castle {
  0% {
    left: 1.1%;
    bottom: 88%; }
  50% {
    left: 1.1%;
    bottom: 88%; }
  100% {
    left: 38.55%;
    bottom: 88%; } }

@keyframes black-rook-castle {
  0% {
    left: 1.1%;
    bottom: 88%; }
  50% {
    left: 1.1%;
    bottom: 88%; }
  100% {
    left: 38.55%;
    bottom: 88%; } }

@-webkit-keyframes black-king-castle {
  0% {
    left: 51%;
    bottom: 88%; }
  50% {
    left: 51%;
    bottom: 88%; }
  100% {
    left: 26%;
    bottom: 88%; } }

@keyframes black-king-castle {
  0% {
    left: 51%;
    bottom: 88%; }
  50% {
    left: 51%;
    bottom: 88%; }
  100% {
    left: 26%;
    bottom: 88%; } }

@-webkit-keyframes promotion-pawn {
  0% {
    left: 51%;
    bottom: 76%; }
  50% {
    left: 51%;
    bottom: 88%;
    opacity: 1; }
  75% {
    left: 51%;
    bottom: 88%;
    opacity: 1; }
  100% {
    left: 51%;
    bottom: 88%;
    opacity: 0; } }

@keyframes promotion-pawn {
  0% {
    left: 51%;
    bottom: 76%; }
  50% {
    left: 51%;
    bottom: 88%;
    opacity: 1; }
  75% {
    left: 51%;
    bottom: 88%;
    opacity: 1; }
  100% {
    left: 51%;
    bottom: 88%;
    opacity: 0; } }

@-webkit-keyframes promotion-queen {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes promotion-queen {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes en-passant-white {
  0% {
    left: 51%;
    bottom: 51%; }
  50% {
    left: 51%;
    bottom: 51%; }
  100% {
    left: 38.55%;
    bottom: 63.5%; } }

@keyframes en-passant-white {
  0% {
    left: 51%;
    bottom: 51%; }
  50% {
    left: 51%;
    bottom: 51%; }
  100% {
    left: 38.55%;
    bottom: 63.5%; } }

@-webkit-keyframes en-passant-black {
  0% {
    left: 38.55%;
    bottom: 76%; }
  50% {
    left: 38.55%;
    bottom: 51%;
    opacity: 1; }
  100% {
    left: 38.55%;
    bottom: 51%;
    opacity: 0; } }

@keyframes en-passant-black {
  0% {
    left: 38.55%;
    bottom: 76%; }
  50% {
    left: 38.55%;
    bottom: 51%;
    opacity: 1; }
  100% {
    left: 38.55%;
    bottom: 51%;
    opacity: 0; } }

@-webkit-keyframes two-move-first-puzzle-white-queen {
  0% {
    left: 63.5%;
    bottom: 51%; }
  33% {
    left: 88.5%;
    bottom: 76%; }
  45% {
    opacity: 1; }
  66% {
    left: 88.5%;
    bottom: 76%;
    opacity: 0; }
  100% {
    left: 88.5%;
    bottom: 76%;
    opacity: 0; } }

@keyframes two-move-first-puzzle-white-queen {
  0% {
    left: 63.5%;
    bottom: 51%; }
  33% {
    left: 88.5%;
    bottom: 76%; }
  45% {
    opacity: 1; }
  66% {
    left: 88.5%;
    bottom: 76%;
    opacity: 0; }
  100% {
    left: 88.5%;
    bottom: 76%;
    opacity: 0; } }

@-webkit-keyframes two-move-first-puzzle-black-queen {
  33% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes two-move-first-puzzle-black-queen {
  33% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes two-move-first-puzzle-black-rook {
  0% {
    left: 26%;
    bottom: 76%; }
  33% {
    left: 26%;
    bottom: 76%; }
  66% {
    left: 88.5%;
    bottom: 76%; }
  100% {
    left: 88.5%;
    bottom: 76%; } }

@keyframes two-move-first-puzzle-black-rook {
  0% {
    left: 26%;
    bottom: 76%; }
  33% {
    left: 26%;
    bottom: 76%; }
  66% {
    left: 88.5%;
    bottom: 76%; }
  100% {
    left: 88.5%;
    bottom: 76%; } }

@-webkit-keyframes two-move-first-puzzle-white-rook {
  0% {
    left: 76%;
    bottom: 0.5%; }
  33% {
    left: 76%;
    bottom: 0.5%; }
  66% {
    left: 76%;
    bottom: 0.5%; }
  100% {
    left: 76%;
    bottom: 88%; } }

@keyframes two-move-first-puzzle-white-rook {
  0% {
    left: 76%;
    bottom: 0.5%; }
  33% {
    left: 76%;
    bottom: 0.5%; }
  66% {
    left: 76%;
    bottom: 0.5%; }
  100% {
    left: 76%;
    bottom: 88%; } }

@-webkit-keyframes two-move-second-puzzle-white-queen {
  0% {
    left: 51%;
    bottom: 63.5%; }
  33% {
    left: 63.5%;
    bottom: 76%;
    opacity: 1; }
  66% {
    left: 63.5%;
    bottom: 76%;
    opacity: 0; }
  100% {
    left: 63.5%;
    bottom: 76%;
    opacity: 0; } }

@keyframes two-move-second-puzzle-white-queen {
  0% {
    left: 51%;
    bottom: 63.5%; }
  33% {
    left: 63.5%;
    bottom: 76%;
    opacity: 1; }
  66% {
    left: 63.5%;
    bottom: 76%;
    opacity: 0; }
  100% {
    left: 63.5%;
    bottom: 76%;
    opacity: 0; } }

@-webkit-keyframes two-move-second-puzzle-white-knight {
  0% {
    left: 76%;
    bottom: 51%; }
  33% {
    left: 76%;
    bottom: 51%; }
  66% {
    left: 76%;
    bottom: 51%; }
  100% {
    left: 51%;
    bottom: 63.5%; } }

@keyframes two-move-second-puzzle-white-knight {
  0% {
    left: 76%;
    bottom: 51%; }
  33% {
    left: 76%;
    bottom: 51%; }
  66% {
    left: 76%;
    bottom: 51%; }
  100% {
    left: 51%;
    bottom: 63.5%; } }

@-webkit-keyframes two-move-second-puzzle-black-knight {
  0% {
    left: 38.55%;
    bottom: 88%; }
  33% {
    left: 38.55%;
    bottom: 88%; }
  66% {
    left: 63.5%;
    bottom: 76%; }
  100% {
    left: 63.5%;
    bottom: 76%; } }

@keyframes two-move-second-puzzle-black-knight {
  0% {
    left: 38.55%;
    bottom: 88%; }
  33% {
    left: 38.55%;
    bottom: 88%; }
  66% {
    left: 63.5%;
    bottom: 76%; }
  100% {
    left: 63.5%;
    bottom: 76%; } }

@-webkit-keyframes three-move-first-puzzle-white-queen {
  0% {
    left: 76%;
    bottom: 25.5%; }
  20% {
    left: 38.55%;
    bottom: 25.5%; }
  40% {
    left: 38.55%;
    bottom: 25.5%; }
  60% {
    left: 38.55%;
    bottom: 38.5%; }
  80% {
    left: 38.55%;
    bottom: 38.5%; }
  100% {
    left: 13.55%;
    bottom: 38.5%; } }

@keyframes three-move-first-puzzle-white-queen {
  0% {
    left: 76%;
    bottom: 25.5%; }
  20% {
    left: 38.55%;
    bottom: 25.5%; }
  40% {
    left: 38.55%;
    bottom: 25.5%; }
  60% {
    left: 38.55%;
    bottom: 38.5%; }
  80% {
    left: 38.55%;
    bottom: 38.5%; }
  100% {
    left: 13.55%;
    bottom: 38.5%; } }

@-webkit-keyframes three-move-first-puzzle-black-king {
  0% {
    left: 38.55%;
    bottom: 51%; }
  20% {
    left: 38.55%;
    bottom: 51%; }
  40% {
    left: 26%;
    bottom: 51%; }
  60% {
    left: 26%;
    bottom: 51%; }
  80% {
    left: 13.55%;
    bottom: 51%; }
  100% {
    left: 13.55%;
    bottom: 51%; } }

@keyframes three-move-first-puzzle-black-king {
  0% {
    left: 38.55%;
    bottom: 51%; }
  20% {
    left: 38.55%;
    bottom: 51%; }
  40% {
    left: 26%;
    bottom: 51%; }
  60% {
    left: 26%;
    bottom: 51%; }
  80% {
    left: 13.55%;
    bottom: 51%; }
  100% {
    left: 13.55%;
    bottom: 51%; } }

@-webkit-keyframes three-move-second-puzzle-white-queen {
  0% {
    left: 1.1%;
    bottom: 76%; }
  20% {
    left: 1.1%;
    bottom: 76%; }
  40% {
    left: 1.1%;
    bottom: 76%; }
  60% {
    left: 1.1%;
    bottom: 76%; }
  80% {
    left: 1.1%;
    bottom: 76%; }
  100% {
    left: 51%;
    bottom: 76%; } }

@keyframes three-move-second-puzzle-white-queen {
  0% {
    left: 1.1%;
    bottom: 76%; }
  20% {
    left: 1.1%;
    bottom: 76%; }
  40% {
    left: 1.1%;
    bottom: 76%; }
  60% {
    left: 1.1%;
    bottom: 76%; }
  80% {
    left: 1.1%;
    bottom: 76%; }
  100% {
    left: 51%;
    bottom: 76%; } }

@-webkit-keyframes three-move-second-puzzle-white-rook {
  0% {
    left: 13.55%;
    bottom: 76%; }
  20% {
    left: 51%;
    bottom: 76%; }
  40% {
    left: 51%;
    bottom: 76%; }
  60% {
    left: 51%;
    bottom: 88%;
    opacity: 1; }
  80% {
    left: 51%;
    bottom: 88%;
    opacity: 0; }
  100% {
    left: 51%;
    bottom: 88%;
    opacity: 0; } }

@keyframes three-move-second-puzzle-white-rook {
  0% {
    left: 13.55%;
    bottom: 76%; }
  20% {
    left: 51%;
    bottom: 76%; }
  40% {
    left: 51%;
    bottom: 76%; }
  60% {
    left: 51%;
    bottom: 88%;
    opacity: 1; }
  80% {
    left: 51%;
    bottom: 88%;
    opacity: 0; }
  100% {
    left: 51%;
    bottom: 88%;
    opacity: 0; } }

@-webkit-keyframes three-move-second-puzzle-black-king {
  0% {
    left: 51%;
    bottom: 88%; }
  20% {
    left: 51%;
    bottom: 88%; }
  40% {
    left: 63.5%;
    bottom: 88%; }
  60% {
    left: 63.5%;
    bottom: 88%; }
  80% {
    left: 51%;
    bottom: 88%; }
  100% {
    left: 51%;
    bottom: 88%; } }

@keyframes three-move-second-puzzle-black-king {
  0% {
    left: 51%;
    bottom: 88%; }
  20% {
    left: 51%;
    bottom: 88%; }
  40% {
    left: 63.5%;
    bottom: 88%; }
  60% {
    left: 63.5%;
    bottom: 88%; }
  80% {
    left: 51%;
    bottom: 88%; }
  100% {
    left: 51%;
    bottom: 88%; } }

@-webkit-keyframes four-move-first-puzzle-white-king {
  0% {
    left: 76%;
    bottom: 13.5%; }
  14% {
    left: 76%;
    bottom: 13.5%; }
  28% {
    left: 76%;
    bottom: 13.5%; }
  42% {
    left: 63.5%;
    bottom: 25.5%; }
  56% {
    left: 63.5%;
    bottom: 25.5%; }
  70% {
    left: 63.5%;
    bottom: 38.5%; }
  100% {
    left: 63.5%;
    bottom: 38.5%; } }

@keyframes four-move-first-puzzle-white-king {
  0% {
    left: 76%;
    bottom: 13.5%; }
  14% {
    left: 76%;
    bottom: 13.5%; }
  28% {
    left: 76%;
    bottom: 13.5%; }
  42% {
    left: 63.5%;
    bottom: 25.5%; }
  56% {
    left: 63.5%;
    bottom: 25.5%; }
  70% {
    left: 63.5%;
    bottom: 38.5%; }
  100% {
    left: 63.5%;
    bottom: 38.5%; } }

@-webkit-keyframes four-move-first-puzzle-white-rook {
  0% {
    left: 13.55%;
    bottom: 25.5%; }
  14% {
    left: 88.5%;
    bottom: 25.5%;
    opacity: 1; }
  28% {
    left: 88.5%;
    bottom: 25.5%;
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes four-move-first-puzzle-white-rook {
  0% {
    left: 13.55%;
    bottom: 25.5%; }
  14% {
    left: 88.5%;
    bottom: 25.5%;
    opacity: 1; }
  28% {
    left: 88.5%;
    bottom: 25.5%;
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes four-move-first-puzzle-white-pawn {
  0% {
    left: 88.5%;
    bottom: 13.5%; }
  84% {
    left: 88.5%;
    bottom: 13.5%; }
  98% {
    left: 76%;
    bottom: 25.5%; }
  100% {
    left: 76%;
    bottom: 25.5%; } }

@keyframes four-move-first-puzzle-white-pawn {
  0% {
    left: 88.5%;
    bottom: 13.5%; }
  84% {
    left: 88.5%;
    bottom: 13.5%; }
  98% {
    left: 76%;
    bottom: 25.5%; }
  100% {
    left: 76%;
    bottom: 25.5%; } }

@-webkit-keyframes four-move-first-puzzle-black-pawn-first {
  0% {
    left: 76%;
    bottom: 38.5%; }
  14% {
    left: 76%;
    bottom: 38.5%; }
  28% {
    left: 88.5%;
    bottom: 25.5%; }
  100% {
    left: 88.5%;
    bottom: 25.5%; } }

@keyframes four-move-first-puzzle-black-pawn-first {
  0% {
    left: 76%;
    bottom: 38.5%; }
  14% {
    left: 76%;
    bottom: 38.5%; }
  28% {
    left: 88.5%;
    bottom: 25.5%; }
  100% {
    left: 88.5%;
    bottom: 25.5%; } }

@-webkit-keyframes four-move-first-puzzle-black-pawn-second {
  0% {
    left: 76%;
    bottom: 51%; }
  14% {
    left: 76%;
    bottom: 51%; }
  28% {
    left: 76%;
    bottom: 51%; }
  42% {
    left: 76%;
    bottom: 51%; }
  56% {
    left: 76%;
    bottom: 38.5%; }
  70% {
    left: 76%;
    bottom: 38.5%; }
  84% {
    left: 76%;
    bottom: 25.5%;
    opacity: 1; }
  98% {
    left: 76%;
    bottom: 25.5%;
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes four-move-first-puzzle-black-pawn-second {
  0% {
    left: 76%;
    bottom: 51%; }
  14% {
    left: 76%;
    bottom: 51%; }
  28% {
    left: 76%;
    bottom: 51%; }
  42% {
    left: 76%;
    bottom: 51%; }
  56% {
    left: 76%;
    bottom: 38.5%; }
  70% {
    left: 76%;
    bottom: 38.5%; }
  84% {
    left: 76%;
    bottom: 25.5%;
    opacity: 1; }
  98% {
    left: 76%;
    bottom: 25.5%;
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes four-move-second-puzzle-white-bishop {
  0% {
    left: 63.5%;
    bottom: 76%; }
  14% {
    left: 51%;
    bottom: 63.5%; }
  100% {
    left: 51%;
    bottom: 63.5%; } }

@keyframes four-move-second-puzzle-white-bishop {
  0% {
    left: 63.5%;
    bottom: 76%; }
  14% {
    left: 51%;
    bottom: 63.5%; }
  100% {
    left: 51%;
    bottom: 63.5%; } }

@-webkit-keyframes four-move-second-puzzle-white-rook {
  0% {
    left: 38.55%;
    bottom: 63.5%; }
  28% {
    left: 38.55%;
    bottom: 63.5%; }
  42% {
    left: 13.55%;
    bottom: 63.5%; }
  100% {
    left: 13.55%;
    bottom: 63.5%; } }

@keyframes four-move-second-puzzle-white-rook {
  0% {
    left: 38.55%;
    bottom: 63.5%; }
  28% {
    left: 38.55%;
    bottom: 63.5%; }
  42% {
    left: 13.55%;
    bottom: 63.5%; }
  100% {
    left: 13.55%;
    bottom: 63.5%; } }

@-webkit-keyframes four-move-second-puzzle-white-queen {
  0% {
    left: 88.5%;
    bottom: 76%; }
  56% {
    left: 88.5%;
    bottom: 76%; }
  70% {
    left: 26%;
    bottom: 76%; }
  84% {
    left: 26%;
    bottom: 76%; }
  98% {
    left: 13.55%;
    bottom: 76%; }
  100% {
    left: 13.55%;
    bottom: 76%; } }

@keyframes four-move-second-puzzle-white-queen {
  0% {
    left: 88.5%;
    bottom: 76%; }
  56% {
    left: 88.5%;
    bottom: 76%; }
  70% {
    left: 26%;
    bottom: 76%; }
  84% {
    left: 26%;
    bottom: 76%; }
  98% {
    left: 13.55%;
    bottom: 76%; }
  100% {
    left: 13.55%;
    bottom: 76%; } }

@-webkit-keyframes four-move-second-puzzle-black-queen {
  0% {
    left: 26%;
    bottom: 13.5%; }
  42% {
    left: 26%;
    bottom: 13.5%; }
  56% {
    left: 26%;
    bottom: 76%;
    opacity: 1; }
  70% {
    left: 26%;
    bottom: 76%;
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes four-move-second-puzzle-black-queen {
  0% {
    left: 26%;
    bottom: 13.5%; }
  42% {
    left: 26%;
    bottom: 13.5%; }
  56% {
    left: 26%;
    bottom: 76%;
    opacity: 1; }
  70% {
    left: 26%;
    bottom: 76%;
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes four-move-second-puzzle-black-bishop {
  0% {
    left: 13.55%;
    bottom: 76%; }
  84% {
    left: 13.55%;
    bottom: 76%;
    opacity: 1; }
  98% {
    left: 13.55%;
    bottom: 76%;
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes four-move-second-puzzle-black-bishop {
  0% {
    left: 13.55%;
    bottom: 76%; }
  84% {
    left: 13.55%;
    bottom: 76%;
    opacity: 1; }
  98% {
    left: 13.55%;
    bottom: 76%;
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes four-move-second-puzzle-black-king {
  0% {
    left: 26%;
    bottom: 88%; }
  14% {
    left: 26%;
    bottom: 88%; }
  28% {
    left: 13.55%;
    bottom: 88%; }
  70% {
    left: 13.55%;
    bottom: 88%; }
  84% {
    left: 1.1%;
    bottom: 76%; }
  98% {
    left: 1.1%;
    bottom: 76%; }
  100% {
    left: 1.1%;
    bottom: 76%; } }

@keyframes four-move-second-puzzle-black-king {
  0% {
    left: 26%;
    bottom: 88%; }
  14% {
    left: 26%;
    bottom: 88%; }
  28% {
    left: 13.55%;
    bottom: 88%; }
  70% {
    left: 13.55%;
    bottom: 88%; }
  84% {
    left: 1.1%;
    bottom: 76%; }
  98% {
    left: 1.1%;
    bottom: 76%; }
  100% {
    left: 1.1%;
    bottom: 76%; } }

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100; }

.title {
  display: flex; }
  .title h1 {
    margin: auto 0; }
    .title h1 a {
      text-decoration: none;
      font-family: "Cinzel";
      color: #7F5732; }

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #CEAA6A;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #7F5732; }
  .nav-bar-inner {
    margin: auto 0; }
    .nav-bar-inner > ul {
      display: flex;
      margin-right: 2rem;
      margin-top: 0.5rem; }

nav li {
  list-style: none; }
  nav li a {
    text-decoration: none;
    background-color: #CEAA6A;
    color: black;
    margin: 0 0.5rem;
    padding: 0.7rem 1.2rem;
    border: 2px solid #7F5732;
    border-radius: 1rem; }
    nav li a:hover {
      background-color: #7F5732;
      padding: 1rem 1.5rem;
      margin: 0 0.2rem;
      transition: 0.2s;
      border-color: white;
      color: white; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #7F5732;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    text-shadow: 2px 2px black; }
    .sidenav a:hover {
      background-color: #CEAA6A; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    padding: 0 1rem; }

.nav-button {
  color: white;
  font-size: 36px;
  cursor: pointer;
  margin: 0 2rem;
  padding: 1rem 0; }
  .nav-button:hover {
    color: #7F5732;
    transition: 0.5s; }

.footer {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0; }
  .footer ul li {
    list-style: none; }
  .footer-links {
    display: flex;
    margin: auto 0;
    padding-left: 2rem; }
    .footer-links a {
      padding: 0 1rem;
      text-decoration: none;
      color: white; }
  .footer-icons {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem; }
    .footer-icons i {
      padding: 0 1rem;
      font-size: 25px;
      color: gray; }
      .footer-icons i:hover {
        color: white; }
  .footer p {
    margin: auto 0;
    color: white; }

@media (max-width: 700px) {
  .footer {
    display: block; }
    .footer-links {
      margin: 0 auto;
      justify-content: center;
      padding: 0; }
    .footer-copyright {
      text-align: center;
      padding: 1rem 0; }
    .footer-icons {
      margin: 0 auto;
      justify-content: center;
      padding: 0; } }

.main-titles {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 15rem 0;
  text-align: center;
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px black;
  border-bottom: 3px solid #7F5732; }

.news {
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-left: 1rem;
  text-align: center; }
  .news img {
    width: 25rem;
    height: 15.625rem;
    border: 3px solid #7F5732;
    border-radius: 1rem;
    margin-top: 2rem; }
  .news h2,
  .news p {
    width: 25rem;
    margin: 0 auto; }
  .news h2 {
    color: #7F5732;
    padding: 1rem 0; }
  .news p {
    color: white; }
  .news-title {
    font-family: "Cinzel";
    font-size: 25px;
    text-align: center;
    color: #7F5732;
    margin-bottom: 1rem; }
  .news-events {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #CEAA6A;
    padding: 2rem 0;
    padding-bottom: 15rem; }
  .news-wrapper {
    width: 60%; }

.events {
  border: 3px solid #7F5732;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-gap: 1rem;
  align-items: center;
  list-style: none;
  margin: 1rem;
  padding: 4rem 1rem;
  text-align: center;
  color: white; }
  .events li {
    margin: 1rem 0; }
  .events-wrapper {
    width: 30%;
    padding-right: 1rem; }
  .events-title {
    font-family: "Cinzel";
    font-size: 25px;
    text-align: center;
    color: #7F5732;
    margin-bottom: 3rem; }

.worlds-best {
  background-color: #CEAA6A; }
  .worlds-best h1 {
    font-family: "Cinzel";
    font-size: 50px;
    text-align: center;
    color: #7F5732;
    padding-bottom: 15rem; }

.players {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #7F5732;
  grid-template-areas: "column-1 column-2" "column-3 column-4" "column-5 column-6"; }
  .players-img img {
    display: block;
    width: 100%;
    height: auto; }
  .players-description p {
    padding-right: 1rem;
    padding-left: 1rem;
    line-height: 1.6;
    color: white; }

.carlsen-img {
  grid-area: column-1; }

.carlsen-description {
  grid-area: column-2; }

.kasparov-description {
  grid-area: column-3; }

.kasparov-img {
  grid-area: column-4; }

.caruana-img {
  grid-area: column-5; }

.caruana-description {
  grid-area: column-6; }

@media (max-width: 890px) {
  .news {
    grid-template-columns: 1fr; } }

@media (max-width: 700px) {
  .events {
    grid-template-columns: 1fr;
    grid-gap: 0;
    padding: 4rem 0; } }

@media (max-width: 1099px) {
  .players {
    grid-template-columns: 1fr;
    grid-template-areas: "column-1" "column-2" "column-4" "column-3" "column-5" "column-6"; }
    .players-description p {
      padding: 2rem 1rem;
      line-height: 2; } }

@media (max-width: 500px) {
  .news-wrapper {
    width: 100%; }
  .news-events {
    flex-direction: column; }
  .events {
    grid-template-columns: 1fr 0.5fr; }
    .events-wrapper {
      width: 100%;
      padding: 0; }
    .events-title {
      margin-top: 2rem; } }

.login-reg-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 11.55em 0; }

.login-reg-inner {
  display: flex;
  flex-direction: column;
  background: rgba(128, 128, 128, 0.4);
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border: 3px solid gray;
  border-radius: 1rem;
  padding: 4rem 0; }
  .login-reg-inner h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: white;
    text-shadow: 2px 2px black; }
  .login-reg-inner label {
    margin: 1rem 0;
    color: white;
    text-shadow: 2px 2px black; }
  .login-reg-inner p {
    position: relative; }
    .login-reg-inner p:before {
      display: block;
      position: absolute;
      font-family: "Font Awesome 5 Free";
      top: 2.5px;
      left: 36.5%;
      font-weight: 900;
      font-size: 17px;
      color: black; }

.login-reg-btn {
  width: 15%;
  min-width: 150px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding: 0.5rem 0;
  font-size: 18px;
  outline: none;
  border: 2px solid gray;
  background-color: white;
  color: black; }
  .login-reg-btn:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
    border: 2px solid white; }

.input {
  width: 30%;
  margin: 0 auto;
  padding: 5px 2.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem; }
  .input:focus {
    outline: none; }

.name:before {
  content: "\f007"; }

.password:before {
  content: "\f023"; }

.email:before {
  content: "\f0e0"; }

@media (max-width: 600px) {
  .login-reg-inner p:before {
    left: 33%; }
  .input {
    width: 40%; } }

.rules {
  background-color: #CEAA6A;
  color: black; }
  .rules-main-title {
    font-size: 25px;
    padding-top: 4rem;
    padding-bottom: 6rem; }
  .rules-main-title, .rules-title {
    color: #7F5732;
    text-align: center; }
  .rules-content {
    width: 50%;
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center; }
  .rules-checkmating {
    margin-top: 5rem;
    margin-bottom: 2rem; }

.a2,
.b2,
.c2,
.d2,
.e2,
.f2,
.g2,
.h2,
.a7,
.b7,
.c7,
.d7,
.e7,
.f7,
.g7,
.h7,
.a1,
.a8,
.h1,
.h8,
.b1,
.b8,
.g1,
.g8,
.c1,
.c8,
.f1,
.f8,
.d1,
.d8,
.e1,
.e8 {
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

.a2,
.b2,
.c2,
.d2,
.e2,
.f2,
.g2,
.h2,
.a7,
.b7,
.c7,
.d7,
.e7,
.f7,
.g7,
.h7 {
  -webkit-animation-name: appear-first;
          animation-name: appear-first; }

.a1,
.a8,
.h1,
.h8 {
  -webkit-animation-name: appear-second;
          animation-name: appear-second; }

.b1,
.b8,
.g1,
.g8 {
  -webkit-animation-name: appear-third;
          animation-name: appear-third; }

.c1,
.c8,
.f1,
.f8 {
  -webkit-animation-name: appear-fourth;
          animation-name: appear-fourth; }

.d1,
.d8,
.e1,
.e8 {
  -webkit-animation-name: appear-fifth;
          animation-name: appear-fifth; }

.a1,
.b1,
.c1,
.d1,
.e1,
.f1,
.g1,
.h1 {
  bottom: 0.5%; }

.a8,
.b8,
.c8,
.d8,
.e8,
.f8,
.g8,
.h8 {
  bottom: 88%; }

.a2,
.b2,
.c2,
.d2,
.e2,
.f2,
.g2,
.h2 {
  bottom: 13.5%; }

.a7,
.b7,
.c7,
.d7,
.e7,
.f7,
.g7,
.h7 {
  bottom: 76%; }

.a1,
.a2,
.a7,
.a8 {
  left: 1.1%; }

.b1,
.b2,
.b7,
.b8 {
  left: 13.55%; }

.c1,
.c2,
.c7,
.c8 {
  left: 26%; }

.d1,
.d2,
.d7,
.d8 {
  left: 38.55%; }

.e1,
.e2,
.e7,
.e8 {
  left: 51%; }

.f1,
.f2,
.f7,
.f8 {
  left: 63.5%; }

.g1,
.g2,
.g7,
.g8 {
  left: 76%; }

.h1,
.h2,
.h7,
.h8 {
  left: 88.5%; }

.moves-king {
  left: 38.55%;
  bottom: 38.5%;
  -webkit-animation-name: king-move;
          animation-name: king-move;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

.moves-queen {
  left: 76%;
  bottom: 13.5%;
  -webkit-animation-name: queen-move;
          animation-name: queen-move;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

.moves-rook {
  left: 1.1%;
  bottom: 0.5%;
  -webkit-animation-name: rook-move;
          animation-name: rook-move;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

.moves-bishop {
  left: 38.55%;
  bottom: 13.5%;
  -webkit-animation-name: bishop-move;
          animation-name: bishop-move;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

.moves-knight {
  left: 26%;
  bottom: 38.5%;
  -webkit-animation-name: knight-move;
          animation-name: knight-move;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

.moves-pawn {
  -webkit-animation-duration: 21s;
          animation-duration: 21s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }
  .moves-pawn-e2 {
    left: 51%;
    bottom: 13.5%;
    -webkit-animation-name: e2-pawn-move;
            animation-name: e2-pawn-move; }
  .moves-pawn-d2 {
    left: 38.55%;
    bottom: 13.5%;
    -webkit-animation-name: d2-pawn-move;
            animation-name: d2-pawn-move; }
  .moves-pawn-e7 {
    left: 51%;
    bottom: 76%;
    -webkit-animation-name: e7-pawn-move;
            animation-name: e7-pawn-move; }
  .moves-pawn-d7 {
    left: 38.55%;
    bottom: 76%;
    -webkit-animation-name: d7-pawn-move;
            animation-name: d7-pawn-move; }

.castling {
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }
  .castling-white-rook {
    left: 88.5%;
    bottom: 0.5%;
    -webkit-animation-name: white-rook-castle;
            animation-name: white-rook-castle; }
  .castling-white-king {
    left: 51%;
    bottom: 0.5%;
    -webkit-animation-name: white-king-castle;
            animation-name: white-king-castle; }
  .castling-black-rook {
    left: 1.1%;
    bottom: 88%;
    -webkit-animation-name: black-rook-castle;
            animation-name: black-rook-castle; }
  .castling-black-king {
    left: 51%;
    bottom: 88%;
    -webkit-animation-name: black-king-castle;
            animation-name: black-king-castle; }

.promotion {
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }
  .promotion-pawn {
    left: 51%;
    bottom: 76%;
    -webkit-animation-name: promotion-pawn;
            animation-name: promotion-pawn; }
  .promotion-queen {
    left: 51%;
    bottom: 88%;
    -webkit-animation-name: promotion-queen;
            animation-name: promotion-queen; }

.en-passant {
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }
  .en-passant-white-pawn {
    left: 51%;
    bottom: 51%;
    -webkit-animation-name: en-passant-white;
            animation-name: en-passant-white; }
  .en-passant-black-pawn {
    left: 38.55%;
    bottom: 76%;
    -webkit-animation-name: en-passant-black;
            animation-name: en-passant-black; }

.mate-white-king {
  left: 76%;
  bottom: 0.5%; }

.mate-white-rook {
  left: 88.5%;
  bottom: 76%; }

.mate-white-knight {
  left: 63.5%;
  bottom: 63.5%; }

.mate-black-king {
  left: 88.5%;
  bottom: 88%; }

.mate-black-pawn {
  left: 76%;
  bottom: 51%; }

.stalemate-white-king {
  left: 51%;
  bottom: 25.5%; }

.stalemate-white-queen {
  left: 38.55%;
  bottom: 51%; }

.stalemate-white-bishop {
  left: 51%;
  bottom: 51%; }

.stalemate-black-king {
  left: 26%;
  bottom: 88%; }

.glossary {
  background-color: #CEAA6A;
  padding-bottom: 3rem; }
  .glossary a {
    color: black;
    text-decoration: underline; }
    .glossary a:hover {
      color: white; }
  .glossary-title {
    font-size: 25px;
    text-align: center;
    color: #7F5732;
    padding: 1rem 0; }
  .glossary-contents {
    background-color: #CEAA6A;
    position: -webkit-sticky;
    position: sticky;
    top: 9%;
    width: 75%;
    margin: 2rem auto;
    border: 3px solid #7F5732;
    border-radius: 1rem;
    padding: 1rem 0; }
    .glossary-contents-list {
      display: flex;
      list-style: none;
      justify-content: space-around; }
      .glossary-contents-list li a {
        color: #7F5732;
        text-decoration: none; }
  .glossary-content {
    margin: 0 5rem; }
  .glossary-letter {
    font-size: 25px;
    color: #7F5732;
    padding: 1rem 0; }
  .glossary-term {
    margin: 1rem 0; }

.puzzles {
  background-color: #CEAA6A; }
  .puzzles-pages-buttons {
    display: flex;
    justify-content: center; }
    .puzzles-pages-buttons a {
      background-color: #7F5732;
      color: white;
      text-decoration: none;
      font-size: 18px;
      border: 3px solid #7F5732;
      border-radius: 1rem;
      padding: 1rem 2rem;
      box-shadow: none;
      margin: 1rem 2rem; }
      .puzzles-pages-buttons a:hover {
        background-color: #CEAA6A;
        color: black; }
  .puzzles-title {
    font-size: 25px;
    color: #7F5732;
    text-align: center;
    padding: 2rem; }
  .puzzles-wrapper {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem; }
  .puzzles-two-moves-first-puzzle {
    -webkit-animation-duration: 9s;
            animation-duration: 9s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
    .puzzles-two-moves-first-puzzle-wrapper {
      display: flex;
      flex-direction: column; }
    .puzzles-two-moves-first-puzzle-a2 {
      left: 1.1%;
      bottom: 13.5%; }
    .puzzles-two-moves-first-puzzle-b2 {
      left: 13.55%;
      bottom: 13.5%; }
    .puzzles-two-moves-first-puzzle-e5 {
      left: 51%;
      bottom: 51%; }
    .puzzles-two-moves-first-puzzle-f4 {
      left: 63.5%;
      bottom: 38.5%; }
    .puzzles-two-moves-first-puzzle-h2 {
      left: 88.5%;
      bottom: 13.5%; }
    .puzzles-two-moves-first-puzzle-h1 {
      left: 88.5%;
      bottom: 0.5%; }
    .puzzles-two-moves-first-puzzle-f5 {
      left: 63.5%;
      bottom: 51%; }
    .puzzles-two-moves-first-puzzle-g1 {
      left: 76%;
      bottom: 0.5%; }
    .puzzles-two-moves-first-puzzle-f6 {
      left: 63.5%;
      bottom: 63.5%; }
    .puzzles-two-moves-first-puzzle-a6 {
      left: 1.1%;
      bottom: 63.5%; }
    .puzzles-two-moves-first-puzzle-a7 {
      left: 1.1%;
      bottom: 76%; }
    .puzzles-two-moves-first-puzzle-h8 {
      left: 88.5%;
      bottom: 88%; }
    .puzzles-two-moves-first-puzzle-h7 {
      left: 88.5%;
      bottom: 76%; }
    .puzzles-two-moves-first-puzzle-c7 {
      left: 26%;
      bottom: 76%; }
    .puzzles-two-moves-first-puzzle-c4 {
      left: 26%;
      bottom: 38.5%; }
    .puzzles-two-moves-first-puzzle-d4 {
      left: 38.55%;
      bottom: 38.5%; }
  .puzzles-two-moves-second-puzzle {
    -webkit-animation-duration: 9s;
            animation-duration: 9s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
    .puzzles-two-moves-second-puzzle-wrapper {
      display: flex;
      flex-direction: column; }
    .puzzles-two-moves-second-puzzle-a2 {
      left: 1.1%;
      bottom: 13.5%; }
    .puzzles-two-moves-second-puzzle-f2 {
      left: 63.5%;
      bottom: 13.5%; }
    .puzzles-two-moves-second-puzzle-g2 {
      left: 76%;
      bottom: 13.5%; }
    .puzzles-two-moves-second-puzzle-h2 {
      left: 88.5%;
      bottom: 13.5%; }
    .puzzles-two-moves-second-puzzle-g1 {
      left: 76%;
      bottom: 0.5%; }
    .puzzles-two-moves-second-puzzle-a1 {
      left: 1.1%;
      bottom: 0.5%; }
    .puzzles-two-moves-second-puzzle-d1 {
      left: 38.55%;
      bottom: 0.5%; }
    .puzzles-two-moves-second-puzzle-f6 {
      left: 63.5%;
      bottom: 63.5%; }
    .puzzles-two-moves-second-puzzle-g5 {
      left: 76%;
      bottom: 51%; }
    .puzzles-two-moves-second-puzzle-a7 {
      left: 1.1%;
      bottom: 76%; }
    .puzzles-two-moves-second-puzzle-b7 {
      left: 13.55%;
      bottom: 76%; }
    .puzzles-two-moves-second-puzzle-c7 {
      left: 26%;
      bottom: 76%; }
    .puzzles-two-moves-second-puzzle-e5 {
      left: 51%;
      bottom: 51%; }
    .puzzles-two-moves-second-puzzle-h7 {
      left: 88.5%;
      bottom: 76%; }
    .puzzles-two-moves-second-puzzle-f8 {
      left: 63.5%;
      bottom: 88%; }
    .puzzles-two-moves-second-puzzle-a3 {
      left: 1.1%;
      bottom: 25.5%; }
    .puzzles-two-moves-second-puzzle-a8 {
      left: 1.1%;
      bottom: 88%; }
    .puzzles-two-moves-second-puzzle-h8 {
      left: 88.5%;
      bottom: 88%; }
    .puzzles-two-moves-second-puzzle-e7 {
      left: 51%;
      bottom: 76%; }
    .puzzles-two-moves-second-puzzle-e6 {
      left: 51%;
      bottom: 63.5%; }
    .puzzles-two-moves-second-puzzle-d4 {
      left: 38.55%;
      bottom: 38.5%; }
    .puzzles-two-moves-second-puzzle-d8 {
      left: 38.55%;
      bottom: 88%; }
  .puzzles-three-moves-first-puzzle {
    -webkit-animation-duration: 15s;
            animation-duration: 15s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
    .puzzles-three-moves-first-puzzle-wrapper {
      display: flex;
      flex-direction: column; }
    .puzzles-three-moves-first-puzzle-a2 {
      left: 1.1%;
      bottom: 13.5%; }
    .puzzles-three-moves-first-puzzle-b2 {
      left: 13.55%;
      bottom: 13.5%; }
    .puzzles-three-moves-first-puzzle-c3 {
      left: 26%;
      bottom: 25.5%; }
    .puzzles-three-moves-first-puzzle-g2 {
      left: 76%;
      bottom: 13.5%; }
    .puzzles-three-moves-first-puzzle-h2 {
      left: 88.5%;
      bottom: 13.5%; }
    .puzzles-three-moves-first-puzzle-h1 {
      left: 88.5%;
      bottom: 0.5%; }
    .puzzles-three-moves-first-puzzle-g3 {
      left: 76%;
      bottom: 25.5%; }
    .puzzles-three-moves-first-puzzle-e1 {
      left: 51%;
      bottom: 0.5%; }
    .puzzles-three-moves-first-puzzle-a6 {
      left: 1.1%;
      bottom: 63.5%; }
    .puzzles-three-moves-first-puzzle-b7 {
      left: 13.55%;
      bottom: 76%; }
    .puzzles-three-moves-first-puzzle-g7 {
      left: 76%;
      bottom: 76%; }
    .puzzles-three-moves-first-puzzle-h7 {
      left: 88.5%;
      bottom: 76%; }
    .puzzles-three-moves-first-puzzle-d5 {
      left: 38.55%;
      bottom: 51%; }
    .puzzles-three-moves-first-puzzle-e6 {
      left: 51%;
      bottom: 63.5%; }
    .puzzles-three-moves-first-puzzle-f6 {
      left: 63.5%;
      bottom: 63.5%; }
    .puzzles-three-moves-first-puzzle-c6 {
      left: 26%;
      bottom: 63.5%; }
  .puzzles-three-moves-second-puzzle {
    -webkit-animation-duration: 15s;
            animation-duration: 15s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
    .puzzles-three-moves-second-puzzle-wrapper {
      display: flex;
      flex-direction: column; }
    .puzzles-three-moves-second-puzzle-a2 {
      left: 1.1%;
      bottom: 13.5%; }
    .puzzles-three-moves-second-puzzle-d4 {
      left: 38.55%;
      bottom: 38.5%; }
    .puzzles-three-moves-second-puzzle-f2 {
      left: 63.5%;
      bottom: 13.5%; }
    .puzzles-three-moves-second-puzzle-g2 {
      left: 76%;
      bottom: 13.5%; }
    .puzzles-three-moves-second-puzzle-h2 {
      left: 88.5%;
      bottom: 13.5%; }
    .puzzles-three-moves-second-puzzle-g1 {
      left: 76%;
      bottom: 0.5%; }
    .puzzles-three-moves-second-puzzle-a7 {
      left: 1.1%;
      bottom: 76%; }
    .puzzles-three-moves-second-puzzle-b7 {
      left: 13.55%;
      bottom: 76%; }
    .puzzles-three-moves-second-puzzle-b5 {
      left: 13.55%;
      bottom: 51%; }
    .puzzles-three-moves-second-puzzle-c5 {
      left: 26%;
      bottom: 51%; }
    .puzzles-three-moves-second-puzzle-f7 {
      left: 63.5%;
      bottom: 76%; }
    .puzzles-three-moves-second-puzzle-g7 {
      left: 76%;
      bottom: 76%; }
    .puzzles-three-moves-second-puzzle-h6 {
      left: 88.5%;
      bottom: 63.5%; }
    .puzzles-three-moves-second-puzzle-e8 {
      left: 51%;
      bottom: 88%; }
    .puzzles-three-moves-second-puzzle-e5 {
      left: 51%;
      bottom: 51%; }
    .puzzles-three-moves-second-puzzle-d8 {
      left: 38.55%;
      bottom: 88%; }
    .puzzles-three-moves-second-puzzle-c8 {
      left: 26%;
      bottom: 88%; }
    .puzzles-three-moves-second-puzzle-c6 {
      left: 26%;
      bottom: 63.5%; }
    .puzzles-three-moves-second-puzzle-e6 {
      left: 51%;
      bottom: 63.5%; }
  .puzzles-four-moves-first-puzzle {
    -webkit-animation-duration: 15s;
            animation-duration: 15s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
    .puzzles-four-moves-first-puzzle-wrapper {
      display: flex;
      flex-direction: column; }
    .puzzles-four-moves-first-puzzle-h2 {
      left: 88.5%;
      bottom: 13.5%; }
    .puzzles-four-moves-first-puzzle-g2 {
      left: 76%;
      bottom: 13.5%; }
    .puzzles-four-moves-first-puzzle-b3 {
      left: 13.55%;
      bottom: 25.5%; }
    .puzzles-four-moves-first-puzzle-g5 {
      left: 76%;
      bottom: 51%; }
    .puzzles-four-moves-first-puzzle-h5 {
      left: 88.5%;
      bottom: 51%; }
    .puzzles-four-moves-first-puzzle-g4 {
      left: 76%;
      bottom: 38.5%; }
    .puzzles-four-moves-first-puzzle-h4 {
      left: 88.5%;
      bottom: 38.5%; }
  .puzzles-four-moves-second-puzzle {
    -webkit-animation-duration: 15s;
            animation-duration: 15s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
    .puzzles-four-moves-second-puzzle-wrapper {
      display: flex;
      flex-direction: column; }
    .puzzles-four-moves-second-puzzle-g5 {
      left: 76%;
      bottom: 51%; }
    .puzzles-four-moves-second-puzzle-h4 {
      left: 88.5%;
      bottom: 38.5%; }
    .puzzles-four-moves-second-puzzle-g3 {
      left: 76%;
      bottom: 25.5%; }
    .puzzles-four-moves-second-puzzle-h7 {
      left: 88.5%;
      bottom: 76%; }
    .puzzles-four-moves-second-puzzle-d6 {
      left: 38.55%;
      bottom: 63.5%; }
    .puzzles-four-moves-second-puzzle-f7 {
      left: 63.5%;
      bottom: 76%; }
    .puzzles-four-moves-second-puzzle-f4 {
      left: 63.5%;
      bottom: 38.5%; }
    .puzzles-four-moves-second-puzzle-a6 {
      left: 1.1%;
      bottom: 63.5%; }
    .puzzles-four-moves-second-puzzle-c8 {
      left: 26%;
      bottom: 88%; }
    .puzzles-four-moves-second-puzzle-c2 {
      left: 26%;
      bottom: 13.5%; }
    .puzzles-four-moves-second-puzzle-b2 {
      left: 13.55%;
      bottom: 13.5%; }
    .puzzles-four-moves-second-puzzle-f8 {
      left: 63.5%;
      bottom: 88%; }
    .puzzles-four-moves-second-puzzle-b7 {
      left: 13.55%;
      bottom: 76%; }
  .puzzles-solution-button {
    border: 3px solid #7F5732;
    background-color: #CEAA6A;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 0 auto;
    width: 200px;
    font-size: 18px; }
    .puzzles-solution-button:hover {
      background-color: #7F5732;
      color: white;
      border-color: white; }
    .puzzles-solution-button:focus {
      outline: none; }

.two-move-first-puzzle-white-queen {
  -webkit-animation-name: two-move-first-puzzle-white-queen;
          animation-name: two-move-first-puzzle-white-queen; }

.two-move-first-puzzle-white-rook {
  -webkit-animation-name: two-move-first-puzzle-white-rook;
          animation-name: two-move-first-puzzle-white-rook; }

.two-move-first-puzzle-black-queen {
  -webkit-animation-name: two-move-first-puzzle-black-queen;
          animation-name: two-move-first-puzzle-black-queen; }

.two-move-first-puzzle-black-rook {
  -webkit-animation-name: two-move-first-puzzle-black-rook;
          animation-name: two-move-first-puzzle-black-rook; }

.two-move-second-puzzle-white-queen {
  -webkit-animation-name: two-move-second-puzzle-white-queen;
          animation-name: two-move-second-puzzle-white-queen; }

.two-move-second-puzzle-white-knight {
  -webkit-animation-name: two-move-second-puzzle-white-knight;
          animation-name: two-move-second-puzzle-white-knight; }

.two-move-second-puzzle-black-knight {
  -webkit-animation-name: two-move-second-puzzle-black-knight;
          animation-name: two-move-second-puzzle-black-knight; }

.three-move-first-puzzle-white-queen {
  -webkit-animation-name: three-move-first-puzzle-white-queen;
          animation-name: three-move-first-puzzle-white-queen; }

.three-move-first-puzzle-black-king {
  -webkit-animation-name: three-move-first-puzzle-black-king;
          animation-name: three-move-first-puzzle-black-king; }

.three-move-second-puzzle-white-queen {
  -webkit-animation-name: three-move-second-puzzle-white-queen;
          animation-name: three-move-second-puzzle-white-queen; }

.three-move-second-puzzle-white-rook {
  -webkit-animation-name: three-move-second-puzzle-white-rook;
          animation-name: three-move-second-puzzle-white-rook; }

.three-move-second-puzzle-black-king {
  -webkit-animation-name: three-move-second-puzzle-black-king;
          animation-name: three-move-second-puzzle-black-king; }

.four-move-first-puzzle-white-king {
  -webkit-animation-name: four-move-first-puzzle-white-king;
          animation-name: four-move-first-puzzle-white-king; }

.four-move-first-puzzle-white-rook {
  -webkit-animation-name: four-move-first-puzzle-white-rook;
          animation-name: four-move-first-puzzle-white-rook; }

.four-move-first-puzzle-white-pawn {
  -webkit-animation-name: four-move-first-puzzle-white-pawn;
          animation-name: four-move-first-puzzle-white-pawn; }

.four-move-first-puzzle-black-pawn-first {
  -webkit-animation-name: four-move-first-puzzle-black-pawn-first;
          animation-name: four-move-first-puzzle-black-pawn-first; }

.four-move-first-puzzle-black-pawn-second {
  -webkit-animation-name: four-move-first-puzzle-black-pawn-second;
          animation-name: four-move-first-puzzle-black-pawn-second; }

.four-move-second-puzzle-white-bishop {
  -webkit-animation-name: four-move-second-puzzle-white-bishop;
          animation-name: four-move-second-puzzle-white-bishop; }

.four-move-second-puzzle-white-rook {
  -webkit-animation-name: four-move-second-puzzle-white-rook;
          animation-name: four-move-second-puzzle-white-rook; }

.four-move-second-puzzle-white-queen {
  -webkit-animation-name: four-move-second-puzzle-white-queen;
          animation-name: four-move-second-puzzle-white-queen; }

.four-move-second-puzzle-black-bishop {
  -webkit-animation-name: four-move-second-puzzle-black-bishop;
          animation-name: four-move-second-puzzle-black-bishop; }

.four-move-second-puzzle-black-king {
  -webkit-animation-name: four-move-second-puzzle-black-king;
          animation-name: four-move-second-puzzle-black-king; }

.four-move-second-puzzle-black-queen {
  -webkit-animation-name: four-move-second-puzzle-black-queen;
          animation-name: four-move-second-puzzle-black-queen; }

@media (max-width: 680px) {
  .puzzles-pages-buttons,
  .puzzles-wrapper {
    flex-direction: column; }
  .puzzles-pages-buttons {
    margin: 0 auto;
    width: 300px;
    text-align: center; } }

.chessboard {
  position: relative;
  width: 560px;
  height: 560px;
  margin: 2rem auto; }
  .chessboard,
  .chessboard .black-square,
  .chessboard .white-square {
    display: block; }

.black-square,
.white-square {
  width: 70px;
  height: 70px;
  float: left; }

.black-square {
  background-color: #BA8960; }

.white-square {
  background-color: #F2DDB2; }

.piece {
  position: absolute;
  width: 60px;
  height: auto; }
  .piece-rules {
    opacity: 0; }

#a1,
#b1,
#c1,
#d1,
#e1,
#f1,
#g1,
#h1 {
  border-bottom: 3px solid #7F5732; }

#a8,
#b8,
#c8,
#d8,
#e8,
#f8,
#g8,
#h8 {
  border-top: 3px solid #7F5732; }

#a1,
#a2,
#a3,
#a4,
#a5,
#a6,
#a7,
#a8 {
  border-left: 3px solid #7F5732; }

#h1,
#h2,
#h3,
#h4,
#h5,
#h6,
#h7,
#h8 {
  border-right: 3px solid #7F5732; }

.notation {
  position: absolute;
  color: #534F4F;
  z-index: 1;
  font-weight: bold; }

.file {
  bottom: 0; }
  .file-a {
    left: 10%; }
  .file-b {
    left: 22.5%; }
  .file-c {
    left: 35%; }
  .file-d {
    left: 47.5%; }
  .file-e {
    left: 60%; }
  .file-f {
    left: 72.5%; }
  .file-g {
    left: 85%; }
  .file-h {
    left: 97.5%; }

.rank {
  left: 1%; }
  .rank-1 {
    bottom: 8%; }
  .rank-2 {
    bottom: 20.5%; }
  .rank-3 {
    bottom: 33%; }
  .rank-4 {
    bottom: 45.5%; }
  .rank-5 {
    bottom: 58%; }
  .rank-6 {
    bottom: 70.5%; }
  .rank-7 {
    bottom: 83%; }
  .rank-8 {
    bottom: 95.5%; }

@media (max-width: 2000px) {
  .chessboard {
    width: 560px;
    height: 560px; }
  .black-square,
  .white-square {
    width: 70px;
    height: 70px; }
  .piece {
    width: 60px; } }

@media (max-width: 1600px) {
  .chessboard {
    width: 480px;
    height: 480px; }
  .black-square,
  .white-square {
    width: 60px;
    height: 60px; }
  .piece {
    width: 50px; } }

@media (max-width: 1000px) {
  .chessboard {
    width: 400px;
    height: 400px; }
  .black-square,
  .white-square {
    width: 50px;
    height: 50px; }
  .piece {
    width: 40px; }
  .rank-1 {
    bottom: 6%; }
  .rank-2 {
    bottom: 18.5%; }
  .rank-3 {
    bottom: 31%; }
  .rank-4 {
    bottom: 43.5%; }
  .rank-5 {
    bottom: 56%; }
  .rank-6 {
    bottom: 68.5%; }
  .rank-7 {
    bottom: 81%; }
  .rank-8 {
    bottom: 93.5%; } }

@media (max-width: 800px) {
  .chessboard {
    width: 320px;
    height: 320px; }
  .black-square,
  .white-square {
    width: 40px;
    height: 40px; }
  .piece {
    width: 30px; } }
