@import url(./reset.css);
@import url(./typography.css);
@import url(./navigation.css);
@import url(./login.css);

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.main-titles {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../../images/bg-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 12.27rem 0;
    text-align: center;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px black;
}

.title {
    display: flex;
    margin-top: 0.7rem;
}

.title h1 a {
    text-decoration: none;
    color: #7F5732;
    font-family: "Cinzel";
}