@keyframes appear-first {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appear-second {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appear-third {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appear-fourth {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appear-fifth {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes king-move {
    0% {
        left: $column-d;
        bottom: $fourth-rank;
    }

    25% {
        left: $column-e;
        bottom: $fifth-rank;
    }

    50% {
        left: $column-e;
        bottom: $fourth-rank;
    }

    75% {
        left: $column-d;
        bottom: $fifth-rank;
    }

    100% {
        left: $column-d;
        bottom: $fourth-rank;
    }
}

@keyframes queen-move {
    0% {
        left: $column-g;
        bottom: $second-rank;
    }

    16% {
        left: $column-g;
        bottom: $seventh-rank;
    }

    32% {
        left: $column-b;
        bottom: $seventh-rank;
    }

    48% {
        left: $column-d;
        bottom: $fifth-rank;
    }

    64% {
        left: $column-b;
        bottom: $third-rank;
    }

    80% {
        left: $column-b;
        bottom: $second-rank;
    }

    96% {
        left: $column-g;
        bottom: $second-rank;
    }

    100% {
        left: $column-g;
        bottom: $second-rank;
    }
}

@keyframes rook-move {
    0% {
        left: $column-a;
        bottom: $first-rank;
    }

    25% {
        left: $column-h;
        bottom: $first-rank;
    }

    50% {
        left: $column-h;
        bottom: $eigth-rank;
    }

    75% {
        left: $column-a;
        bottom: $eigth-rank;
    }

    100% {
        left: $column-a;
        bottom: $first-rank;
    }
}

@keyframes bishop-move {
    0% {
        left: $column-d;
        bottom: $second-rank;
    }

    25% {
        left: $column-b;
        bottom: $fourth-rank;
    }

    50% {
        left: $column-e;
        bottom: $seventh-rank;
    }

    75% {
        left: $column-g;
        bottom: $fifth-rank;
    }

    100% {
        left: $column-d;
        bottom: $second-rank;
    }
}

@keyframes knight-move {
    0% {
        left: $column-c;
        bottom: $fourth-rank;
    }

    25% {
        left: $column-d;
        bottom: $sixth-rank;
    }

    50% {
        left: $column-f;
        bottom: $fifth-rank;
    }

    75% {
        left: $column-e;
        bottom: $third-rank;
    }

    100% {
        left: $column-c;
        bottom: $fourth-rank;
    }
}

@keyframes e2-pawn-move {
    0% {
        left: $column-e;
        bottom: $second-rank;
    }

    14% {
        left: $column-e;
        bottom: $fourth-rank;
    }

    28% {
        left: $column-e;
        bottom: $fourth-rank;
    }

    42% {
        left: $column-e;
        bottom: $fourth-rank;
    }

    56% {
        left: $column-e;
        bottom: $fourth-rank;
    }

    70% {
        left: $column-e;
        bottom: $fourth-rank;
    }

    84% {
        left: $column-e;
        bottom: $fourth-rank;
    }

    98% {
        left: $column-d;
        bottom: $fifth-rank;
    }

    100% {
        left: $column-d;
        bottom: $fifth-rank;
    }
}

@keyframes d2-pawn-move {
    0% {
        left: $column-d;
        bottom: $second-rank;
        opacity: 1;
    }

    14% {
        left: $column-d;
        bottom: $second-rank;
        opacity: 1;
    }

    28% {
        left: $column-d;
        bottom: $second-rank;
        opacity: 1;
    }

    42% {
        left: $column-d;
        bottom: $third-rank;
        opacity: 1;
    }

    56% {
        left: $column-d;
        bottom: $third-rank;
        opacity: 1;
    }

    70% {
        left: $column-d;
        bottom: $fourth-rank;
        opacity: 1;
    }

    84% {
        left: $column-d;
        bottom: $fourth-rank;
        opacity: 0;
    }

    98% {
        left: $column-d;
        bottom: $fourth-rank;
        opacity: 0;
    }

    100% {
        left: $column-d;
        bottom: $fourth-rank;
        opacity: 0;
    }
}

@keyframes e7-pawn-move {
    0% {
        left: $column-e;
        bottom: $seventh-rank;
    }

    14% {
        left: $column-e;
        bottom: $seventh-rank;
    }

    28% {
        left: $column-e;
        bottom: $fifth-rank;
    }

    42% {
        left: $column-e;
        bottom: $fifth-rank;
    }

    56% {
        left: $column-e;
        bottom: $fifth-rank;
    }

    70% {
        left: $column-e;
        bottom: $fifth-rank;
    }

    84% {
        left: $column-d;
        bottom: $fourth-rank;
    }

    98% {
        left: $column-d;
        bottom: $fourth-rank;
    }

    100% {
        left: $column-d;
        bottom: $fourth-rank;
    }
}

@keyframes d7-pawn-move {
    0% {
        left: $column-d;
        bottom: $seventh-rank;
        opacity: 1;
    }

    14% {
        left: $column-d;
        bottom: $seventh-rank;
        opacity: 1;
    }

    28% {
        left: $column-d;
        bottom: $seventh-rank;
        opacity: 1;
    }

    42% {
        left: $column-d;
        bottom: $seventh-rank;
        opacity: 1;
    }

    56% {
        left: $column-d;
        bottom: $fifth-rank;
        opacity: 1;
    }

    70% {
        left: $column-d;
        bottom: $fifth-rank;
        opacity: 1;
    }

    84% {
        left: $column-d;
        bottom: $fifth-rank;
        opacity: 1;
    }

    98% {
        left: $column-d;
        bottom: $fifth-rank;
        opacity: 0;
    }

    100% {
        left: $column-d;
        bottom: $fifth-rank;
        opacity: 0;
    }
}