@keyframes appear-first {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appear-second {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appear-third {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appear-fourth {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appear-fifth {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes king-move {
    0% {
        left: 38.55%;
        bottom: 38.5%;
    }

    25% {
        left: 51.1%;
        bottom: 51%;
    }

    50% {
        left: 51.1%;
        bottom: 38.5%;
    }

    75% {
        left: 38.55%;
        bottom: 51%;
    }

    100% {
        left: 38.55%;
        bottom: 38.5%;
    }
}

@keyframes queen-move {
    0% {
        left: 76.2%;
        bottom: 13%;
    }

    16% {
        left: 76.2%;
        bottom: 76%;
    }

    32% {
        left: 13.55%;
        bottom: 76%;
    }

    48% {
        left: 38.55%;
        bottom: 51%;
    }

    64% {
        left: 13.55%;
        bottom: 25.5%;
    }

    80% {
        left: 13.55%;
        bottom: 13%;
    }

    96% {
        left: 76.2%;
        bottom: 13%;
    }

    100% {
        left: 76.2%;
        bottom: 13%;
    }
}

@keyframes rook-move {
    0% {
        left: 1%;
        bottom: 0.5%;
    }

    25% {
        left: 88.7%;
        bottom: 0.5%;
    }

    50% {
        left: 88.7%;
        bottom: 88%;
    }

    75% {
        left: 1%;
        bottom: 88%;
    }

    100% {
        left: 1%;
        bottom: 0.5%;
    }
}

@keyframes bishop-move {
    0% {
        left: 38.55%;
        bottom: 13%;
    }

    25% {
        left: 13.55%;
        bottom: 39%;
    }

    50% {
        left: 51.1%;
        bottom: 76%;
    }

    75% {
        left: 76.2%;
        bottom: 51%;
    }

    100% {
        left: 38.55%;
        bottom: 13%;
    }
}