.chessboard {
    position: relative;
    width: 560px;
    height: 560px;
    margin: 2rem auto;

    &,
    .black-square,
    .white-square {
        display: block;
    }
}

.black-square,
.white-square {
    width: 70px;
    height: 70px;
    float: left;
}

.black-square {
    background-color: $dark-square;
}

.white-square {
    background-color: $light-square;
}

.piece {
    position: absolute;
    width: 60px;
    height: auto;

    &-rules {
        opacity: 0;
    }
}

#a1,
#b1,
#c1,
#d1,
#e1,
#f1,
#g1,
#h1 {
    border-bottom: $primary-dark-border;
}

#a8,
#b8,
#c8,
#d8,
#e8,
#f8,
#g8,
#h8 {
    border-top: $primary-dark-border;
}

#a1,
#a2,
#a3,
#a4,
#a5,
#a6,
#a7,
#a8 {
    border-left: $primary-dark-border;
}

#h1,
#h2,
#h3,
#h4,
#h5,
#h6,
#h7,
#h8 {
    border-right: $primary-dark-border;
}

.notation {
    position: absolute;
    color: #534F4F;
    z-index: 1;
    font-weight: bold;
}

.file {
    bottom: 0;

    &-a {
        left: 10%;
    }

    &-b {
        left: 22.5%;
    }

    &-c {
        left: 35%;
    }

    &-d {
        left: 47.5%;
    }

    &-e {
        left: 60%;
    }

    &-f {
        left: 72.5%;
    }

    &-g {
        left: 85%;
    }

    &-h {
        left: 97.5%;
    }
}

.rank {
    left: 1%;

    &-1 {
        bottom: 8%;
    }

    &-2 {
        bottom: 20.5%;
    }

    &-3 {
        bottom: 33%;
    }

    &-4 {
        bottom: 45.5%;
    }

    &-5 {
        bottom: 58%;
    }

    &-6 {
        bottom: 70.5%;
    }

    &-7 {
        bottom: 83%;
    }

    &-8 {
        bottom: 95.5%;
    }
}

@media (max-width: 2000px) {
    .chessboard {
        width: 560px;
        height: 560px;
    }

    .black-square,
    .white-square {
        width: 70px;
        height: 70px;
    }

    .piece {
        width: 60px;
    }
}

@media (max-width: 1600px) {
    .chessboard {
        width: 480px;
        height: 480px;
    }

    .black-square,
    .white-square {
        width: 60px;
        height: 60px;
    }

    .piece {
        width: 50px;
    }
}

@media (max-width: 1000px) {
    .chessboard {
        width: 400px;
        height: 400px;
    }

    .black-square,
    .white-square {
        width: 50px;
        height: 50px;
    }

    .piece {
        width: 40px;
    }

    .rank {
        &-1 {
            bottom: 6%;
        }
    
        &-2 {
            bottom: 18.5%;
        }
    
        &-3 {
            bottom: 31%;
        }
    
        &-4 {
            bottom: 43.5%;
        }
    
        &-5 {
            bottom: 56%;
        }
    
        &-6 {
            bottom: 68.5%;
        }
    
        &-7 {
            bottom: 81%;
        }
    
        &-8 {
            bottom: 93.5%;
        }
    }
}

@media (max-width: 800px) {
    .chessboard {
        width: 320px;
        height: 320px;
    }

    .black-square,
    .white-square {
        width: 40px;
        height: 40px;
    }

    .piece {
        width: 30px;
    }
}