.main-titles {
    background: $titles-gradient, url(../../images/bg-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: $white;
    padding: 15rem 0;
    text-align: center;
    font-size: $text-large;
    color: $white;
    text-shadow: $text-shadow;
    border-bottom: $primary-dark-border;
}

.news {
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-left: 1rem;
    text-align: center;

    & img {
        width: 25rem;
        height: 15.625rem;
        border: $primary-dark-border;
        border-radius: 1rem;
        margin-top: 2rem;
    }

    & h2,
    & p {
        width: 25rem;
        margin: 0 auto;
    }

    & h2 {
        color: $primary-dark;
        padding: 1rem 0;
    }

    & p {
        color: $white;
    }

    &-events {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        background-color: $primary-light;
        padding: 2rem 0;
        padding-bottom: 15rem;
    }

    &-wrapper {
        width: 60%;

        &>h1 {
            font-family: $alt-font;
            text-align: center;
            margin-bottom: 1rem;
            color: $primary-dark;
            font-size: $text-large;
        }
    }
}

.events {
    border: $primary-dark-border;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 1rem;
    align-items: center;
    list-style: none;
    margin: 1rem;
    padding: 4rem 1rem;
    text-align: center;
    color: $white;

    & li {
        margin: 1rem 0;
    }

    &-wrapper {
        width: 30%;
        padding-right: 1rem;

        &>h1 {
            font-family: $alt-font;
            font-size: $text-large;
            text-align: center;
            color: $primary-dark;
            margin-bottom: 3rem;
        }
    }
}

.worlds-best {
    background-color: $primary-light;

    & h1 {
        font-family: $alt-font;
        font-size: 50px;
        text-align: center;
        color: $primary-dark;
        padding-bottom: 15rem;
    }
}

.players {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: $primary-dark;

    &-img img {
        display: block;
        width: 100%;
        height: auto;
    }

    &-description p {
        padding-right: 1rem;
        padding-left: 1rem;
        line-height: 1.6;
        color: $white;
    }
}