$primary-dark: #7F5732;
$primary-light: #CEAA6A;
$white: white;
$black: black;
$gray: gray;
$login-reg-form-bg: rgba(128, 128, 128, 0.4);
$titles-gradient: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
$footer-gradient: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));

$text-shadow: 2px 2px black;
$text-large: 25px;
$side-nav-btn-size: 36px;
$alt-font: "Cinzel";

$primary-dark-border: 3px solid $primary-dark;

$first-rank: 0.5%;
$second-rank: 13.5%;
$third-rank: 25.5%;
$fourth-rank: 38.5%;
$fifth-rank: 51%;
$sixth-rank: 63.5%;
$seventh-rank: 76%;
$eigth-rank: 88%;

$column-a: 1.1%;
$column-b: 13.55%;
$column-c: 26%;
$column-d: 38.55%;
$column-e: 51%;
$column-f: 63.5%;
$column-g: 76%;
$column-h: 88.5%;